.container{
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: 10%;
}
.centered-container {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

form {
  padding: 16px;
  margin-top: 10%;
}

.full-width {
  width: 100%;
}