.container {
    display: flex;
    
    height: 100vh;
    overflow: hidden;
  }
  
  .half {
    flex: 1;
    overflow: hidden;
  }
  
  /*
  .image {
    width: 100%;
    height: 100%;
  }
  */
  
  form {
    padding: 16px;
  }
  
  .full-width {
    width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adapte a margem conforme necessário */
  }
  
  .button-separator {
    width: 10px; /* Adapte a largura conforme necessário */
  }

  .custom-button {
    width: 150px; /* Adapte a largura conforme necessário */
    margin-right: 10px; /* Adapte a margem entre os botões conforme necessário */
  }
  
  