header{
    display: flex;
    position: relative;
    border-bottom: black solid;
    padding-top: 16px;
}
.back-button {
    margin-right: auto;
    position: absolute;
}  
.span-title {
    display: block;
    font-size: 200%;
    margin: 0 auto;
    padding-bottom: 2%;
}
  